.buttons{margin-top:auto;display:flex;flex-direction:column;gap:10px;}
.row{display:flex;gap:10px;}

.btn{
flex:1;
padding:10px 14px;
border-radius:24px;
font-size:13px;
background:var(--glass);
backdrop-filter:blur(40px);
border:1px solid var(--border);
color:var(--text);
text-decoration:none;
font-weight:500;
transition:.25s ease;
cursor:pointer;
box-shadow:0 10px 25px rgba(0,0,0,0.35);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.btn:hover{transform:translateY(-3px);}
.btn:active{transform:scale(.96);}
.btn i{color:var(--gold);margin-bottom:4px;}
.subtext{font-size:11px;color:var(--sub);}